$fontfamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "_vars";
@import "vendor/null";

html {
    font-size: 62.5%;
}

body {
    background-color: #494949;

    font-family: $fontfamily;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;
}

// <ОБОЛОЧКА>
.wrapper {

}
// </ОБОЛОЧКА>

// <КОНТЕЙНЕР>
.container {
    max-width: 1130px;
    padding: 0 15px;
}
// </КОНТЕЙНЕР>

/* Blocks */
@import "blocks/header";
@import "blocks/footer";








