// Шрифты
@import "fonts";


// Переменные
$minwidth: 320px;

// Обнуление.
@import "null.scss";

// Общие параметры
body {

}

// <ОБОЛОЧКА>
.wrapper {

}
// </ОБОЛОЧКА>

// <КОНТЕЙНЕР>
.container {
    max-width: 1130px;
    padding: 0 15px;
}
// </КОНТЕЙНЕР>


// <ПОДКЛЮЧЕНИЕ ФПЙЛОВ СТИЛЕЙ И ЭЛЕМЕНТОВ>

// </ПОДКЛЮЧЕНИЕ ФПЙЛОВ СТИЛЕЙ И ЭЛЕМЕНТОВ>
