.btn {
    padding: 9px;
    border: 2px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    background: none;
    color: var(--black);
    font-family: var(--f_openSans);

    transition: .2s;
    &__icon {
        margin-right: 13px;
    }
    &--green{
        background: var(--green);
        color: var(--white);
        &:hover {
            background: var(--green_hover);
        }
    }
    &--border-green{
        border: 2px solid var(--green);
        background: var(--white);
        &:hover {
            background: var(--green);
            color: var(--white);
        }
    }

    &--lower {
        text-transform: none;
    }
}