.modal {
    display: none;
    &-menu {
        margin: 0 20px !important;
        &__box {
            display: flex;
            flex-direction: column;
        }
        .phone {
            margin: 0 auto;
        }
        .header__bottom-text {
            margin: 20px auto;
        }
        .time_and_address {
            padding: 0;
            align-items: center;
        }
        .header-menu {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            &__list {
                flex-direction: column;
                align-items: flex-start;
            }
            &__link {
                font-size: 1.8rem;
            }
            &__item {
                &:not(:first-child) {
                    margin-top: 5px;
                }
            }
        }
    }
    &-callback {
        background-size: cover!important;
        &__box {
            padding: 30px 45px 30px;
            max-width: 495px;
        }

        &__form {
            max-width: 360px;
            display: flex;
            flex-direction: column;

            input {
                &:not(:first-child) {
                    margin-top: 25px;
                }
            }

            .btn {
                margin-top: 25px;
                height: 60px;
                font-weight: 700;
                font-size: 1.8rem;
                text-transform: uppercase;
            }
        }

        &__title,
        &__desc {
            text-align: center;
            line-height: 2.6rem;

        }

        &__title {
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__desc {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 1.6rem;
        }
    }

    @include phones {
        &-callback {
            &__box {
                padding: 30px 0px;
            }
        }
    }
}
