<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#">Главная</a>
            </li>
            <!-- Выпадающий li -->
            <li class="nav__item">
                <a class="nav__link  has-subnav" href="#">Dropdown</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav__link" href="#">1</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">2</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">3</a>
                    </li>
                </ul>
            </li>
            <!-- /Выпадающий li -->
            <li class="nav__item">
                <a class="nav__link" href="#">Обо мне</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Реклама</a>
            </li>
        </ul>
    </nav>
</header>