.header {
    background: var(--black);

    &__row {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 30px;
    }

    &__link {
        color: var(--white);
    }
}

.burder-menu {
    display: none;
}


@include tablets {
    .nav {
        display: none;
        &.nav--active {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300px;
            background: var(--black);
        }

        &__list {
            flex-direction: column;
            gap: 30px 0;
        }
    }
    .burder-menu {
        cursor: pointer;
        display: block;
        margin-left: auto;
        width: 40px;
        height: 30px;
        display: flex;
        align-items: center;
        position: relative;
        &::after,
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: var(--white);
            position: absolute;
            transition: .2s;
        }
        &::after {
            top: 0;
            left: 0;
        }
        &::before {
            bottom: 0;
            left: 0;
        }
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--white);
        }

        &.burger--active {
            span {
                display: none;
            }
            &::after {
                top: calc(50% - 1px);
                transform: rotate(45deg);
            }
            &::before {
                bottom: calc(50% - 1px);
                transform: rotate(-45deg);
            }
        }
    }
}

