<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <link rel="stylesheet" href="./assets/vendors/fancybox/jquery.fancybox.min.css">
    <!-- <link rel="stylesheet" href="./assets/vendors/jquery-ui/jquery-ui.css"> -->
    <!-- <link rel="stylesheet" href="./assets/vendors/select2/select2.min.css" /> -->
    <link rel="stylesheet" href="./assets/vendors/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/vendors/owlcarousel/owl.theme.default.min.css">

</head>

<body>

    <div class="page">
        <!-- Header -->
        {{> header }}
        <!-- content -->
        <main class="main">
            {{> body }}
        </main>
        <!-- /content -->

        <!-- footer -->
        {{> footer}}
        <!-- /footer -->

        <!-- modals -->
        {{> modals}}
        <!-- /modals -->
    </div>


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./assets/vendors/fancybox/jquery.fancybox.min.js"></script>
    <!-- <script src="./assets/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="./assets/vendors/jquery-ui/jquery.ui.touch-punch.min.js"></script>
    <script src="./assets/vendors/select2/select2.min.js"></script> -->
    <script src="./assets/vendors/owlcarousel/owl.carousel.min.js"></script>
    <script src="./assets/vendors/jquery-ui/jquery.mask.min.js"></script>
    <script src="./assets/vendors/jquery-collapse/jquery.collapse.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>