// @font-face {
//     font-family: "Proxima Nova";
//     src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot");
//     src: local("☺"), url("../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");

//     font-weight: 100;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Proxima Nova";
//     src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
//     src: local("☺"), url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");

//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Proxima Nova";
//     src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
//     src: local("☺"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");

//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Proxima Nova";
//     src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
//     src: local("☺"), url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");

//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: "Proxima Nova";
//     src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
//     src: local("☺"), url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
//         url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");

//     font-weight: 800;
//     font-style: normal;
// }
