$maxw: 1170px;
$minw: 320px;

:root {
    --white: #fff;
    --black: #000;

    --gd_gray: linear-gradient(180deg, rgba(240,246,242,1) 70%, rgba(231,241,250,1) 100%);

    --f_openSans: 'Open Sans', sans-serif;
}